.card {
  border-radius: 10px;

  .card-header {
    background-color: brown;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  button {
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0056b3;
    }
  }

  a {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #003f8c;
    }
  }
}

body {
  background-color: #f8f9fa;
}
